alabaster==0.7.12; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
aniso8601==9.0.1; python_version >= "3.5"
astroid==2.11.3; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
babel==2.10.1; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
certifi==2021.10.8; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.5"
click==8.1.2; python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
colorama==0.4.4; sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.7.0" and platform_system == "Windows" and python_version < "3.10"
desdeo-emo==1.3.3; python_full_version >= "3.7.0" and python_version < "3.10"
desdeo-mcdm==1.2.13; python_full_version >= "3.7.0" and python_version < "3.10"
desdeo-problem==1.3.5; python_version >= "3.7" and python_version < "3.10"
desdeo-tools==1.7.1; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
dill==0.3.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.1.0")
diversipy==0.8; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
docutils==0.16; python_full_version >= "3.7.0" and python_version >= "3.7" and python_version < "3.10"
et-xmlfile==1.1.0; python_version >= "3.6"
flask-cors==3.0.10
flask-jwt-extended==4.3.1; python_version >= "3.6" and python_version < "4"
flask-restx==0.5.1
flask-sqlalchemy==2.5.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
flask==2.1.1; python_version >= "3.7"
greenlet==1.1.2; python_version >= "3" and python_full_version < "3.0.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0") or python_version >= "3" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0") and python_full_version >= "3.5.0"
hvwfg==1.0.2; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
imagesize==1.3.0; python_full_version >= "3.7.0" and python_version >= "3.7" and python_version < "3.10"
importlib-metadata==4.11.3; python_version < "3.8" and python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7") and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.6.0" and python_version < "3.8" and python_version >= "3.7")
importlib-resources==5.7.1; python_version < "3.9" and python_version >= "3.7"
itsdangerous==2.1.2; python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
jinja2==3.1.1; python_version >= "3.7" and python_version < "3.10" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7") and python_full_version >= "3.7.0"
joblib==1.1.0; python_version >= "3.7" and python_version < "3.10"
jsonschema==4.4.0; python_version >= "3.7"
lazy-object-proxy==1.7.1; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
llvmlite==0.36.0; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
markupsafe==2.1.1; python_version >= "3.7"
mpmath==1.2.1; python_version >= "3.7"
numba==0.53.1; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
numpy==1.21.6
openpyxl==3.0.9; python_version >= "3.6"
optproblems==1.3; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
packaging==21.3; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
pandas==1.3.5; python_full_version >= "3.7.1"
passlib==1.7.4
plotly==4.14.3; python_full_version >= "3.7.0" and python_version < "3.10"
pydoe==0.3.8; python_full_version >= "3.7.0" and python_version < "3.10"
pygments==2.12.0; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
pyjwt==2.3.0; python_version >= "3.6" and python_version < "4"
pyparsing==3.0.8; python_full_version >= "3.6.8" and python_version >= "3.6"
pyrsistent==0.18.1; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.1"
pytz==2022.1; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.1"
pyyaml==6.0; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
retrying==1.3.3; python_full_version >= "3.7.0" and python_version < "3.10"
scikit-learn==1.0.2; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
scipy==1.7.3; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
simplejson==3.17.6; (python_version >= "2.5" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
six==1.16.0; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.1"
snowballstemmer==2.2.0; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
sphinx-autoapi==1.8.4; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
sphinx==3.5.4; python_version >= "3.5"
sphinxcontrib-applehelp==1.0.2; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
sphinxcontrib-htmlhelp==2.0.0; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
sphinxcontrib-serializinghtml==1.1.5; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
sqlalchemy==1.4.36; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
sympy==1.10.1; python_version >= "3.7"
threadpoolctl==3.1.0; python_version >= "3.7" and python_version < "3.10"
typed-ast==1.5.3; implementation_name == "cpython" and python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.7.0"
typing-extensions==4.2.0; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.7.0"
unidecode==1.3.4; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
urllib3==1.26.9; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.5"
werkzeug==2.1.1; python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
wrapt==1.14.0; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
zipp==3.8.0; python_version < "3.8" and python_version >= "3.7"
