alabaster==0.7.12; python_version >= "3.5"
aniso8601==9.0.1; python_version >= "3.5"
appdirs==1.4.4; python_version >= "3.6"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
babel==2.9.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
black==20.8b1; python_version >= "3.6"
certifi==2021.5.30; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
charset-normalizer==2.0.6; python_full_version >= "3.6.0" and python_version >= "3.5"
click==8.0.1; python_version >= "3.6" and python_version < "4"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0" and platform_system == "Windows"
cycler==0.10.0; python_version >= "3.7"
desdeo-emo==1.3.2; python_full_version >= "3.7.0" and python_version < "3.10"
desdeo-mcdm==1.2.9; python_full_version >= "3.7.0" and python_version < "3.10"
desdeo-problem==1.3.2; python_version >= "3.7" and python_version < "3.10"
desdeo-tools==1.5.4; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
dill==0.3.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.1.0")
diversipy==0.8; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
docutils==0.16; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
flake8==3.9.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
flask-cors==3.0.10
flask-jwt-extended==4.3.0; python_version >= "3.6" and python_version < "4"
flask-restx==0.5.1
flask-sqlalchemy==2.5.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
flask-testing==0.8.1
flask==2.0.1; python_version >= "3.6"
greenlet==1.1.1; python_version >= "3" and python_full_version < "3.0.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0") or python_version >= "3" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0") and python_full_version >= "3.5.0"
hvwfg==1.0.2; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
idna==3.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
imagesize==1.2.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
importlib-metadata==4.8.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.6.0" and python_version < "3.8" and python_version >= "3.6"
iniconfig==1.1.1; python_version >= "3.6"
itsdangerous==2.0.1; python_version >= "3.6" and python_version < "4"
jinja2==3.0.1; python_version >= "3.6" and python_version < "4"
joblib==1.0.1; python_version >= "3.7" and python_version < "3.10"
jsonschema==3.2.0
kiwisolver==1.3.2; python_version >= "3.7"
llvmlite==0.36.0; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
markupsafe==2.0.1; python_version >= "3.6"
matplotlib==3.4.3; python_version >= "3.7"
mccabe==0.6.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
mpmath==1.2.1; python_version >= "3.6"
mypy-extensions==0.4.3; python_version >= "3.6"
numba==0.53.1; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
numpy==1.21.2; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.1"
optproblems==1.3; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
packaging==21.0; python_version >= "3.6"
pandas==1.3.3; python_full_version >= "3.7.1"
passlib==1.7.4
pathspec==0.9.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pillow==8.3.2; python_version >= "3.7"
plotly==4.14.3; python_full_version >= "3.7.0" and python_version < "3.10"
pluggy==1.0.0; python_version >= "3.6"
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pycodestyle==2.7.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pydoe==0.3.8; python_full_version >= "3.7.0" and python_version < "3.10"
pyflakes==2.3.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pygments==2.10.0; python_version >= "3.5"
pyjwt==2.1.0; python_version >= "3.6" and python_version < "4"
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pyrsistent==0.18.0; python_version >= "3.6"
pytest==6.2.5; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.1" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7")
pytz==2021.1; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.1" and (python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5")
regex==2021.8.28; python_version >= "3.6"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
retrying==1.3.3; python_full_version >= "3.7.0" and python_version < "3.10"
rope==0.18.0
rstcheck==3.3.1
scikit-learn==0.24.2; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
scipy==1.7.1; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
simplejson==3.17.5; (python_version >= "2.5" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
six==1.16.0; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.1" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7")
snowballstemmer==2.1.0; python_version >= "3.5"
sphinx-rtd-theme==0.5.2
sphinx==3.5.4; python_version >= "3.5"
sphinxcontrib-applehelp==1.0.2; python_version >= "3.5"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.5"
sphinxcontrib-htmlhelp==2.0.0; python_version >= "3.6"
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-jsmath==1.0.1; python_version >= "3.5"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.5"
sphinxcontrib-serializinghtml==1.1.5; python_version >= "3.5"
sqlalchemy==1.4.25; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
sympy==1.8; python_version >= "3.6"
threadpoolctl==2.2.0; python_version >= "3.7" and python_version < "3.10"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
typed-ast==1.4.3; python_version >= "3.6"
typing-extensions==3.10.0.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.5.0" and python_version < "3.8" and python_version >= "3.6"
urllib3==1.26.7; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.5"
werkzeug==2.0.1; python_version >= "3.6" and python_version < "4"
zipp==3.5.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.5.0" and python_version < "3.8" and python_version >= "3.6"
